body {
    background: black;
    color: white;
}
a {
    color: white;
}

@font-face {
    font-family: 'Kumar';
    url('fonts/kumar-one-cyrillic.otf') format('otf'); /* Альтернативный формат */
}


.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.wrapper__container {
    max-width: 1400px;
    min-width: 320px;
    display: flex;
    justify-content: center;
    padding: 0px 20px;
}

.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.header_left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.logo {
    font-size: 30px;
    font-family: Kumar, sans-serif;
}

.header_menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header_menu-nav > a {
    font-size: 20px;
}

.header_ui {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.header_ui > img {
    height: 40px;
    width: 40px;

}

.ui__search {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 25px;
    gap: 50px
}

.ui__search > img {
    height: 25px;
    width: 25px;
}
.ui_input {
    width: 50px;
    font-size: 18px;
    color: white;
    border: none;
    background-color: transparent;
    transition: width 0.3s ease; /* Добавляем анимацию для плавного изменения ширины */
}

.ui_input.expanded {
    width: 300px; /* Ширина при раскрытии */
}












/******************************/

.modal1.modal_disable {
    visibility: hidden;
    opacity: 0;
}

.modal__container.form_active {
    transform: translateY(0);
}

.modal1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
    transition: opacity 0.5s, visibility 0.5s;
}

.modal__container {
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 110;
    transform: translateY(100%);
    transition: transform 1s ease;
}


.modal_mode {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_mode > a {
    font-size: 20px;
    background-color: white;
    padding: 20px;
}

.authorization_mode {
    border-radius: 0 10px 0 0;
    color: black;
    transition: all .7s ease ;
}

.registration_mode {
    border-radius: 10px 0 0 0;
    color: black;
    transition: all .7s ease ;
}

a.authorization_mode:hover {
    background-color: #51d3ff;
}

a.registration_mode:hover {
    background-color: #51d3ff;
}


a.registration_mode.active {
    background-color: #93e2ff;
}

a.authorization_mode.active {
    background-color: #93e2ff;
}


.reg_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reg_form > label {
    padding: 10px 0;
    font-size: 18px;
}
.reg_form > input {
    color: black;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    font-size: 18px;
    padding: 5px;
}
.reg_form > button {
    margin: 10px 0;
    padding: 20px;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    transition: all .7s ease;
}

.reg_form > button:hover {
    border-radius: 5px;
    transform: scale(0.95);
    background-color: #93e2ff;
}


.auth_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.auth_form > label {
    padding: 10px 0;
    font-size: 18px;
}
.auth_form > input {
    color: black;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    font-size: 18px;
    padding: 5px;
}

.auth_form > button {
    margin: 10px 0;
    padding: 20px;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    transition: all .7s ease;
}

.auth_form > button:hover {
    border-radius: 5px;
    transform: scale(0.95);
    background-color: #93e2ff;
}


.reg_form.disable {
    display: none;
}

.auth_form.disable {
    display: none;
}