@font-face {
    font-family: 'Kumar One';
url('fonts/kumar-one-cyrillic.otf') format('otf'); /* Альтернативный формат */
}

body {
    background: black;
    font-family: 'Kumar One',sans-serif;
    color: white;
    position: relative;
}
a {
    color: white;
}




.wrapper {
    width: 100%;
    min-height: 100vh;
}

.wrapper__container {
    min-width: 320px;
    display: flex;
    justify-content: center;
    padding: 0px 20px;
}

.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.header_left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.logo {
    font-size: 30px;
    font-family: 'Kumar One',sans-serif;
}

.header_menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header_menu-nav > a {
    font-size: 20px;
}

.header_ui {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px
}

.db_search {
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.db_search.result_search {
    display: flex;
}

.header_ui > img {
    height: 40px;
    width: 40px;

}

.ui__search {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 25px;
    gap: 50px
}

.ui__search > img {
    height: 25px;
    width: 25px;
}
.ui_input {
    width: 50px;
    font-size: 18px;
    color: white;
    border: none;
    background-color: transparent;
    transition: width 0.3s ease; /* Добавляем анимацию для плавного изменения ширины */
}

.ui_input.expanded {
    width: 300px; /* Ширина при раскрытии */
}

main {
    flex:1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.main_tile {
    width: 100%;
    min-height: 100vh;
    background-image: url('../img/main_title.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
}


.main_tile > p {
    font-size: 40px;

}

.main_tile > p > span {
    font-size: 100px;
    color: lightgoldenrodyellow;
}


.reviews {
    width: 100%;
    min-height: 100vh;
    background-image: url('../img/image 2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.reviews__container {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
}

.reviews__see {
    display: flex;
    align-items: center;
    width: 1020px;
    flex-wrap: wrap;
    transition: transform 0.3s ease; /* Добавляем анимацию перехода */
}

.review {
    border: 1px solid white;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.38);
}

.review > p {
    font-size: 20px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 70px;
}

.review > p:first-child {
    padding: 0;
}

.reviews__wrapper {
    display: flex;
    justify-content: center;
}

.reviews__wrapper > button {
    background: transparent;
}

.reviews__wrapper > button > img {
    width: 50px;
    height: 50px;
}

.pagination > button {
    background: transparent;
    padding: 10px;
}








/******************************/

.modal1.modal_disable {
    visibility: hidden;
    opacity: 0;
}

.modal1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 1;
    top:0;
    left:0;
    visibility: visible;
    background-color: rgba(0,0,0,0.5);
    transition: opacity 0.5s, visibility 0.5s;
}

.modal__container {
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 110;
    background-color: white;
}


.modal_mode {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_mode > a {
    font-size: 20px;
    background-color: white;
    padding: 20px;
}

.authorization_mode {
    border-radius: 0 10px 0 0;
    color: black;
    transition: all .7s ease ;
}

.registration_mode {
    border-radius: 10px 0 0 0;
    color: black;
    transition: all .7s ease ;
}

a.authorization_mode:hover {
    background-color: #51d3ff;
}

a.registration_mode:hover {
    background-color: #51d3ff;
}


a.registration_mode.active {
    background-color: #93e2ff;
}

a.authorization_mode.active {
    background-color: #93e2ff;
}


.reg_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reg_form > label {
    padding: 10px 0;
    font-size: 18px;
    color: black
}
.reg_form > input {
    color: black;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    font-size: 18px;
    padding: 5px;
}
.reg_form > button {
    margin: 10px 0;
    padding: 20px;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    transition: all .7s ease;
}

.reg_form > button:hover {
    border-radius: 5px;
    transform: scale(0.95);
    background-color: #93e2ff;
}


.auth_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.auth_form > label {
    padding: 10px 0;
    font-size: 18px;
    color: black
}
.auth_form > input {
    color: black;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    font-size: 18px;
    padding: 5px;
}

.auth_form > button {
    margin: 10px 0;
    padding: 20px;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    transition: all .7s ease;
}

.auth_form > button:hover {
    border-radius: 5px;
    transform: scale(0.95);
    background-color: #93e2ff;
}


.reg_form.disable {
    display: none;
}

.auth_form.disable {
    display: none;
}